<configuration scan="true" scanPeriod="60 seconds">	  <!-- Auto Scan config file  -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    	<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      		<level>info</level>		<!-- only show error msg in stdout  -->
    	</filter>
    	<encoder>
      		<pattern>[idGen] [%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%thread] [%file:%line] - %msg%n</pattern>
    	</encoder>
    </appender>
    
    <appender name="ERROR_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
    	<file>/home/logs/idGen/idGen-error.log</file>
    	<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
    		<fileNamePattern>/home/logs/idGen/idGen-error.log.%d{yyyy-MM-dd}</fileNamePattern>
			<maxHistory>10</maxHistory>
    	</rollingPolicy>
    	<encoder>
    		<pattern>[idGen] [%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%thread] [%file:%line] - %msg%n</pattern>
    	</encoder>
    	<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      		<level>warn</level>		<!-- only log warn/error msg -->
    	</filter>
    </appender>
    
    <appender name="NORMAL_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
    	<file>/home/logs/idGen/idGen.log</file>
    	<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
    		<fileNamePattern>/home/logs/idGen/idGen.log.%d{yyyyMMdd}</fileNamePattern>
			<maxHistory>10</maxHistory>
    	</rollingPolicy>
    	<encoder>
    		<pattern>[idGen] [%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%thread] [%file:%line] - %msg%n</pattern>
    	</encoder>
    	<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>info</level>		<!-- only log warn/error msg -->
		</filter>
    </appender>
    
    <!-- #################################################################### -->
    
    <root level="debug">				<!-- level=trace/debug/info/warn/error/all/off -->
    	<appender-ref ref="STDOUT" />
    	<appender-ref ref="ERROR_LOG" />
    	<appender-ref ref="NORMAL_LOG" />
  	</root>
  	
  	<logger name="com.xdja.idgen.telnet" level="warn"/>		
  	<logger name="org.apache.http" level="info"/>			
  	<logger name="com.mchange" level="info"/>				<!-- c3p0 logs -->
  	<logger name="c.m.v.resourcepool" level="info"/>
  	<logger name="net.wimpi.telnetd" level="warn"/>			<!-- telnetd-x lib -->
  	
  	<logger name="foo.bar" additivity="false">		<!-- only output to NORMAL_LOG -->
  		<appender-ref ref="NORMAL_LOG" /> 	
  	</logger>
	<logger name="org.apache.zookeeper">
		<level value="warn" />
	</logger>
</configuration>